.DS_Store
.idea/
/target
*.iml
**/*.rs.bk
Cargo.lock
.vscode
.github/*.md

# MkDocs
/site/

# tests
regression.out
*.diffs
_blackbox_*
contrib_regression_test_restore.pgsql
results/*
tests/results/*
tests/tmp/*
generated/
