
name: Build and Test OCI Images for pg18

on:
  workflow_dispatch:
    inputs:
      pgversions:
        description: 'PostgreSQL versions to build (comma-separated: pg18)'
        required: false
        default: 'pg18'
        type: string
jobs:
  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      pgversions: ${{ steps.matrix.outputs.pgversions }}
      runs_on: ${{ steps.matrix.outputs.runs_on }}
      arch: ${{ steps.matrix.outputs.arch }}
      pkgtype: ${{ steps.matrix.outputs.pkgtype }}
      matrix_include: ${{ steps.matrix.outputs.matrix_include }}
      version: ${{ steps.matrix.outputs.version }}
    steps:
      - name: Generate matrix
        id: matrix
        run: |
          echo input_pgversions="${{ inputs.pgversions }}"
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            PGVERSIONS="${{ inputs.pgversions }}"
            echo "Using workflow_dispatch pgversions: $PGVERSIONS"
          else
            PGVERSIONS="pg18"
            echo "Using default pgversions: $PGVERSIONS"
          fi


          # Create JSON array of objects for matrix.include
          MATRIX_JSON="["
          for PG in $(echo $PGVERSIONS | tr ',' ' '); do
            VERSION=${PG#pg}
            MATRIX_JSON+="{\"pgver\": \"$PG\", \"VERSION\": \"$VERSION\", \"arch\": \"amd64\", \"runs_on\": \"ubuntu-latest\", \"pkgtype\": \"deb\", \"distro\": \"bookworm\"},"
            #MATRIX_JSON+="{\"pgver\": \"$PG\", \"VERSION\": \"$VERSION\", \"arch\": \"arm64\", \"runs_on\": \"ubuntu-24.04-arm\", \"pkgtype\": \"deb\", \"distro\": \"bookworm\"},"
            #MATRIX_JSON+="{\"pgver\": \"$PG\", \"VERSION\": \"$VERSION\", \"arch\": \"amd64\", \"runs_on\": \"ubuntu-latest\", \"pkgtype\": \"deb\", \"distro\": \"trixie\"},"
            #MATRIX_JSON+="{\"pgver\": \"$PG\", \"VERSION\": \"$VERSION\", \"arch\": \"arm64\", \"runs_on\": \"ubuntu-24.04-arm\", \"pkgtype\": \"deb\", \"distro\": \"trixie\"},"
          done
          # Remove trailing comma and close array
          MATRIX_JSON=${MATRIX_JSON%,}
          MATRIX_JSON+="]"

          echo "matrix_include=$MATRIX_JSON" >> $GITHUB_OUTPUT

  oci-image-build:
    needs: setup-matrix
    strategy:
      matrix:
        include: ${{ fromJSON(needs.setup-matrix.outputs.matrix_include) }}
      fail-fast: false
    name: '${{ matrix.pgver }}-${{ matrix.arch }}-${{ matrix.pkgtype }}-oci-build'
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: build oci image
        uses: ./.github/actions/build-oci-make
        with:
          pgver: ${{ matrix.pgver }}
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          ocipgversion: ${{ matrix.pgver }}
      - name: test oci image
        uses: ./.github/actions/build-oci-test
        with:
          pgver: ${{ matrix.pgver }}
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          ocipgversion: ${{ matrix.pgver }}
      - name: push oci image
        uses: ./.github/actions/build-oci-push
        with:
          pgver: ${{ matrix.pgver }}
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          ocipgversion: ${{ matrix.pgver }}
      - name: clean oci image
        uses: ./.github/actions/build-oci-clean
        with:
          pgver: ${{ matrix.pgver }}
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          ocipgversion: ${{ matrix.pgver }}
          github_token: ${{ secrets.GH_TOKEN }}
